# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/


#vstudio
*.user
.vs

# 不显示加密解密的代码
[Ee]ncrypt*
SHA*
AES*

# 不显示反作弊系统的代码

#不显示录制的视频文件
*.mp4

#不显示日志文件
*.log

#不知道是什么奇怪的东西
enc_temp_folder/